nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding: 0;
    transition: all .45s ease;
}

.mobile{
    display: none;
    transition: all .45s ease;
}

.logo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    background-color: rgb(13,61,82);
    z-index: 100;
    color: white;
}
.logo #menu-icon{
    display: none;
    width: 50px;
    color: white;
    font-size: 30px;
}
.logo button{
    display: none;
    width: 150px;
    outline: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.logo-img{
    width: 100px;
    margin: 0 auto;;
}

a{
    text-decoration: none;
}
ul{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-content: center;
    margin-top: 16px;
}
li{
    list-style-type: none;
}
li a{
    color: #176B87;
    font-size: 20px;
    font-weight: 500;
    transition: all .45s ease;
}
li a:hover{
    color: #001C30;

}

@media only screen and (max-width: 600px){
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
        z-index: 10;
    }
    ul{
        width: 100%;
        transition: all .45s ease;
    }
    .logo{
        margin-bottom: 10px;
    }
}

